$primary: #ffffff;
$secondary: #043353;
$secondary-light: #383c58;
$content: #7de89d;
$text: #b3c0cc;
$white: #ffffff;
$black: #000000;
$red: #eb6f6f;

.home-business {
  width: 100%;
  .hero {
    height: 600px;
    .hero-box {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
    }
  }
  .logss {
    background-color: $primary;
    padding-top: 100px;
    .grid-logs {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      row-gap: 40px;
    }
  }
}
